@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1>Get to Know Joel</h1>
    <a href="https://www.qwcomedy.com/">Here is where he performs!</a><br />
    <a href="https://baconsale.com/">Here are his movie reviews!</a><br />
    <a href="https://baconsale.com/">
        <img src="~/baconsalekate.jpg" />
    </a>

</div>